header {
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 3%;
    background-color: #ffff;
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.5%)
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
    padding-top: 10%;
  }
  
  .menu-icon{
    display:none;
    color: black;
  }
  
  .navbar a {
    color: #000000;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 500;
    transition: 0.4s ease;
  }
  
  .navbar a:hover {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #000000;
  }
  
  .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
  }
  
  .home-page img {
    max-width: 100vh;
    max-height: 85vh;
    padding: 0 10%;
  }
  
  .description-pisang {
    display: block;
    margin: 0 10%;
  }
  
  .description-pisang h1 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 0.5em;
  }
  
  .description-pisang p {
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 1em;
  }