* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-color: rgb(247, 247, 247);
}